html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    overflow: hidden;
}

.clock {
    margin-top: 0;
    z-index: 100;
}

#bg-cover {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
}