
.site-author-name {
  font-size: 20px;
}


/* 适配手机样式 */
@media (max-width: 767px){
  /*手机端body体显示*/
  body{
    background-image: none;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
  }
  /*手机端菜单栏样式*/
  .menu {
    display: flex;
    margin-left: 5px;
    float: none !important;
  }

  .menu .menu-item a{
    /*font-weight: 600;*/
    color: #2c3e50;
    font-size: 14px;
    padding: 1px 7px;
  }
  /*选中菜单样式*/
  .menu-item-active a:after{
    top: -10%;
    right: 24px;
}
}


// 修改网站头部颜色
.headband {
    height: 3px;
    background: #ff9999;
}
.site-meta {
    padding: 20px 0;
    color: #fff;
    background: #ff9999;
}
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}

// 鼠标样式
  * {
      cursor: url("https://cdn.jsdelivr.net/gh/YSC168/cdn@5.1/ico/cursor.ico"),auto!important
  }
  :active {
      cursor: url("https://cdn.jsdelivr.net/gh/YSC168/cdn@5.1/ico/cursor.icoo"),auto!important
  }

  
//添加代码：
.headband {display:none;}
.feed-link a{display: inline-block;}

