
.site-author-name {
  font-size: 20px;
}





// 修改网站头部颜色
.headband {
    height: 3px;
    background: #ff9999;
}
.site-meta {
    padding: 20px 0;
    color: #fff;
    background: #ff9999;
}
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}

// 鼠标样式
  * {
      cursor: url("https://cdn.jsdelivr.net/gh/YSC168/cdn@5.1/ico/cursor.ico"),auto!important
  }
  :active {
      cursor: url("https://cdn.jsdelivr.net/gh/YSC168/cdn@5.1/ico/cursor.icoo"),auto!important
  }

  
//添加代码：
.headband {display:none;}
.feed-link a{display: inline-block;}


// 适配手机样式 began ------------------------>
@media (max-width: 767px){
  /*手机端body体显示*/
  body{
    background-image: none;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
  }
  /*手机端菜单栏样式*/
  .menu {
    display: flex;
    margin-left: 5px;
    float: none !important;
  }
  //.menu-item{
  //  display: inline;
  //}

  ////不显示站点地图li
  //.menu .menu-item menu-item-sitemap{
  //  display:none
  //}

  .menu .menu-item a{
    /*font-weight: 600;*/
    color: #2c3e50;
    font-size: 14px;
    //padding: 1px 7px;
    padding: 5px 12px;
  }
  //选中菜单样式
  .menu-item-active a:after{
    top: -10%;
    //top: 66%;
    right: 24px;
    //三角形
    //width:0; height:0; border:10px solid; border-color:#aececb #f5f7f9 #f5f7f9 #f5f7f9;
}
}