.site-brand-wrapper {
  position: relative;
}
.headband {
    height: 3px;
    background: #FF9999;
}
.site-meta {
    padding: 20px 0;
    color: #fff;
    background: #FF9999;
}
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}
.site-meta {
  padding: 20px 0;
  color: white;
  background: $theme;

  +tablet() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
  +mobile() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}

.brand {
  padding: 0;
  background: none;

  &:hover { color: white; }
}

.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
   font-size: 13px;
    color: #ffffff;
}

.site-search form { display: none; }
