.index-banner{
	position: relative;
	
}
.index-banner-bg{
	height: 600px;
	overflow: hidden;
}
.index-banner-bg img{
	margin:  auto;
	margin-top: 100px;
	
}
.index-banner-text{
	position: absolute;
	margin-top: 100px;
	left: 50%;
	margin-left: -450px;
}
.index-banner-text .text-logo{
width: 776px;
height: 1px;

}
.index-banner-text .text-info {
	margin-top: 17px;
	text-align: center;
	color: #fff;
}
.text-info-title{
	margin-top: 17px;
	text-align: center;
	color: #fff;
}
.index-banner-text .text-info .line{
	display: inline-block;
	width: 80px;
	border: 1px solid #fff;
	vertical-align: middle;
}
.index-banner-text .text-info .txt{
	text-align: center;
	margin: 0 26px;
}
